{% extends 'base.html' %} {% block head_title %}Add Items to {{ shopping_list.name }}{% endblock %} {% block content %} {% load staticfiles %}

<div class="add-items-list-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h6>Add Items to <a href="{% url 'lists:shopping_list_detail_view' pk=shopping_list.pk %}"><strong>{{ shopping_list.name }}</strong></a></h6>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <input type="text" value="" id="search-items" placeholder="Type here to search and add items" class="form-control" maxlength="30" />
                    <span class="form-control-feedback fui-search"></span>
                </div>
                <div class="search-result">
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p>Your list:</p>
            </div>
        </div>
        <div class="row">
            <ul>
                {% for shopping_item in shopping_list.shopping_items %}
                <li>
                    <div class="col-xs-6">
                        {{ shopping_item.name }}
                    </div>
                    <div class="col-xs-3">
                        <select class="form-control select select-primary select-block mbl" item-pk="{{ shopping_item.pk }}">
                            {% for i in "xxxxxxxxxxx" %}
                                {% if forloop.counter0 == shopping_item.quantity %}
                                    <option selected value="{{ shopping_item.quantity }}">{{ shopping_item.quantity }}</option>
                                {% elif forloop.counter0 == 0 %}
                                {% else %}
                                    <option value="{{ forloop.counter0 }}">{{ forloop.counter0 }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-xs-3">
                        <form method="POST" action="{% url 'lists:delete_items_from_list_view' pk=shopping_item.pk %}">
                            {% csrf_token %}
                            <div class="todo-right pull-right">
                                <button><span class="fui-trash"></span></button>
                            </div>
                        </form>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% include 'lists/add_items_js.html' %} {% endblock %}
