{% extends 'base.html' %} {% block head_title %}Add Items to {{ shopping_list.name }}{% endblock %} {% block content %} {% load staticfiles %}

<div class="add-items-list-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h6>Add Items to <strong>{{ shopping_list.name }}</strong></h6>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <input type="text" value="" id="search-items" placeholder="Type here to search and add items" class="form-control" />
                    <span class="form-control-feedback fui-search"></span>
                </div>
                <div class="search-result"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                Your list:
            </div>
        </div>
        <!--<div class="row">-->
        <!--    <ul>-->
        <!--        {% for shopping_item in shopping_list.shopping_items %}-->
        <!--        <li>-->
        <!--            <div class="col-xs-6">-->
        <!--                {{ shopping_item.get_name }}-->
        <!--            </div>-->
        <!--            <div class="col-xs-6">-->
        <!--                {{ shopping_item.quantity }}-->
        <!--            </div>-->
        <!--        </li>-->
        <!--        {% endfor %}-->
        <!--    </ul>-->
        <!--</div>-->
    </div>
</div>

{% endblock %}
