{% extends 'base.html' %} {% block head_title %}Your Shopping Lists {% endblock %} {% block content %} {% load staticfiles %}

<div class="lists-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="lists-list">
                    {% for list in shopping_lists %}
                    <li>
                        <a href="{% url 'lists:shopping_list_detail_view' pk=list.pk %}">
                        <div class="todo-icon fui-list"></div>
                        <div class="todo-content">
                            <h4 class="todo-name">
                                <strong>{{ list.name }}</strong> in {{ list.shop }}
                            </h4>
                            <small>{{ list.date }}</small>
                        </div>
                        </a>
                        <form method="POST" action="{% url 'lists:shopping_list_delete_view' pk=list.pk %}">
                            {% csrf_token %}
                            <div class="todo-right pull-right">
                                <button><span class="fui-trash"></span></button>
                            </div>
                        </form>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>


{% endblock %}
