<script>
    (function(){
        
        var items_animation = function(){
            $('.list-item').each(function(i){
                setTimeout(function(){
                    $('.list-item').eq(i).css({
                        'opacity': 1,
                        'transform': 'translateX(0px)'
                    });
                }, i*100);
            });
        }
        
        $(window).load(function(){
            items_animation();
        });
        
        $('#list-sort').change(function(event) {
            var sort_by = $('#list-sort').val()

            $.ajax({
                type: 'GET',
                url: '{% url "lists:shopping_list_detail_view" pk=shopping_list.pk %}',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'sort_by': sort_by
                },
                success: function(data) {
                    var result = $(data).find(".list-items");
                    $('.list-items').html(result);
                    items_animation();
                },
                error: function(data) {
                    console.log('Ajax Error');
                }
            });
        });
    })();
</script>