{% extends 'base.html' %} {% block head_title %}List {{ list.name }} {% endblock %} {% block content %} {% load staticfiles %}

<div class="detail-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h6>{{ shopping_list.name }}</h6>
                <p class="list-desc"><small>{{ shopping_list.shop }} at {{ shopping_list.date }}</small></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="todo list-items">
                    <ul>
                        {% for item in shopping_list.shopping_items %}
                        <li class="list-item {% if item.bought %} todo-done {% endif %}" list-item-pk="{{item.pk}}">
                            <div class="todo-icon fui-tag"></div>
                            <div class="todo-content">
                                <h4 class="todo-name">
                                    {{ item.name }}
                                </h4>
                                <strong>Quantity:</strong> {{ item.quantity }}
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- /.todo -->
            </div>
        </div>
        <a href="{% url 'lists:add_items_to_list_view' pk=shopping_list.pk %}">
            <div class="add-items-plus">
            </div>
        </a>
    </div>
</div>

{% endblock %}
