{% extends 'base.html' %} {% block head_title %}List {{ list.name }} {% endblock %} {% block content %} {% load staticfiles %}

<div class="detail-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h6>{{ shopping_list.name }}</h6>
                <p class="list-desc"><small>{{ shopping_list.shop }} at {{ shopping_list.date }}</small></p>
                <a href="{% url 'lists:edit_shopping_list_view' pk=shopping_list.pk %}" class="btn btn-block btn-primary btn-edit">Edit</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <select id="list-sort" class="form-control select select-primary select-block mbl">
                    <option value="pk">Sort by order of addition</option>
                    <option value="category">Sort by category</option>
                    <option value="name">Sort by name</option>
                    <option value="bought">Sort by bought</option>
                </select>
            </div>
            <div class="col-md-12 col-xs-12">
                <div class="todo list-items">
                    <ul>
                        {% for item in shopping_items %}
                        <li class="list-item {% if item.bought %} todo-done {% endif %}" list-item-pk="{{item.pk}}">
                            <div class="todo-icon fui-tag"></div>
                            <div class="todo-content">
                                <h4 class="todo-name">
                                    {{ item.name }}
                                </h4>
                                <strong>Quantity:</strong> {{ item.quantity }}
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- /.todo -->
            </div>
        </div>
        <a href="{% url 'lists:add_items_to_list_view' pk=shopping_list.pk %}">
            <div class="add-items-plus">
            </div>
        </a>
    </div>
</div>

{% include 'lists/shopping_list_detail_js.html' %}

{% endblock %}
