{% extends 'base.html' %} {% block head_title %}Welcome {% endblock %} {% block content %} {% load staticfiles %}

<div class="main-wrapper">
    <div class="container">
        <div class="row">
            <div class="main-icons">
                <div class="col-xs-6 col-md-3">
                    <div class="tile">
                        <a href="{% url 'lists:shopping_lists_view' %}">
                            <img class="img-responsive" src="{% static 'img/icons/png/Clipboard.png' %}">
                            <p>My Lists</p>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3">
                    <div class="tile">
                        <a href="{% url 'lists:add_shopping_list_view' %}">
                            <img class="img-responsive" src="{% static 'img/icons/png/Pensils.png' %}">
                            <p>Add List</p>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3">
                    <div class="tile">
                        <a href="{% url 'lists:shopping_lists_archive_view' %}">
                            <img class="img-responsive" src="{% static 'img/icons/png/Book.png' %}">
                            <p>Archive</p>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3">
                    <div class="tile">
                        <a href="{% url 'charts:bought_items_chart_view' %}">
                            <img class="img-responsive" src="{% static 'img/icons/png/Chart3.png' %}">
                            <p>Charts</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}