{% extends 'base.html' %} {% load staticfiles %} {% block wrapper %}
<div class="login-screen">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="login-icon">
                    <img src="{% static 'img/icons/png/Pocket.png' %}" alt="Welcome to Mail App" />
                    <h4>Welcome to <small>Lister Shopping App</small></h4>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                <form class="login-form" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ login_form.username }}
                        <label class="login-field-icon fui-user" for="login-name"></label>
                    </div>
                    <div class="form-group">
                        {{ login_form.password }}
                        <label class="login-field-icon fui-lock" for="login-pass"></label>
                    </div>

                    <button class="btn btn-primary btn-lg btn-block" href="#">Log in</button>
                    <a class="login-link" href="#">Lost your password?</a>
                    <a class="login-link" href="#">Register</a>
                </form>
            </div>



        </div>
    </div>

</div>
{% endblock %}
