{% extends 'base.html' %} 
{% block head_title %}Change Password{% endblock %}
{% load staticfiles %} {% block wrapper %}
<div class="login-screen">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="login-icon">
                    <img src="{% static 'img/icons/png/Pocket.png' %}" alt="Welcome to Mail App" />
                    <h4>Welcome to <span class="logo">Lister</span></h4>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                {{ password_change_form.non_field_errors }}
                <form class="login-form" method="POST">
                    {% csrf_token %}
                    {% for field in password_change_form %}
                        {{ field.errors }}
                            <div class="form-group">
                        {{ field }}
                        {% if field.label == "Username" %}
                            <label class="login-field-icon fui-user" for="login-name"></label>
                        {% endif %}
                        {% if field.label == "Password" or field.label == "Confirm Password" %}
                            <label class="login-field-icon fui-lock" for="login-pass"></label>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Change Password</button>
                    <a class="login-link" href="{% url 'main:main_page_view' %}">Back to main page</a>
                </form>
            </div>
        </div>
    </div>

</div>
{% endblock %}
