{% load staticfiles %}

<nav class="navbar navbar-inverse navbar-embossed navbar-fixed-top navbar-custom" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
            <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="#">Lister</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-01">
            <ul class="nav navbar-nav">
                <li><a href="#fakelink">Products</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage Lists <b class="caret"></b></a>
                  <span class="dropdown-arrow"></span>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'main:shopping_lists_view' %}">View Lists</a></li>
                    <li><a href="#">Add List</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Export List</a></li>
                  </ul>
                </li>
                <li><a href="#fakelink">Report Error</a></li>
            </ul>
            
            <a href="{% url 'users:logout_view' %}?next={{request.path}}" class="pull-right nav-logout"><span class="fui-exit"></span></a>
            <form class="navbar-form navbar-right" action="#" role="search">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" id="navbarInput-01" type="search" placeholder="Search">
                        <span class="input-group-btn">
                    <button type="submit" class="btn"><span class="fui-search"></span></button>
                        </span>
                    </div>
                </div>
                
            </form>
        </div>
        <!-- /.navbar-collapse -->
    </div>

</nav>
<!-- /navbar -->
