{% load staticfiles %}

<script src="{% static 'js/application.js' %}"></script>
<script src="{% static 'js/prettify.js' %}"></script>

<script>
    (function(){
        $('.list-item').click(function(event){
            var item_pk = $(this).attr("list-item-pk");
            
            $.ajax({
            type: 'POST',
            url: '{% url "lists:mark_shopping_item_view" %}',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'pk': item_pk
            },
            error: function(data){
                console.log('error');
            }
            });
        })
    })();
</script>