html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

/*main*/

.main-wrapper {
    background: #BDC3C7;
    display: block;
    height: 100%;
}

.main-icons {
    margin-top: 75px;
}

.main-icons p {
    color: #7F8C8D;
    margin: 10px 0px 0px 0px;
    font-weight: 300;
    text-transform: uppercase;
}

.main-icons img {
    margin-left: auto;
    margin-right: auto;
    min-height: 122px;
}

.tile {
    min-height: 185px;
}

/*nav*/

.navbar-brand {
    font-family: 'Molle', cursive;
}

.nav-logout {
    font-size: 30px;
}

.nav-logout span {
    position: relative;
    top: 1px;
}

.navbar-collapse {
    background: #34495E;
}

.navbar-custom, .navbar-form {
    height: 53px;
}

.navbar .container, .navbar .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}

@media (max-width: 767px) {
    .nav-logout {
        margin: 4px -10px;
        width: auto;
    }

    .navbar-form > .form-group {
        width: 90%;
    }
}

/*lists*/

.lists-wrapper {
    color: #ECF0F1;
    display: block;
    height: 100%;
    background: #3498DB;
}

.lists-wrapper a {
    color: #ECF0F1;
}

.lists-wrapper a:hover {
    color: #34495E;
}

.lists-list {
    margin-top: 75px;
    padding: 0;
}

.lists-list > li {
    padding: 15px 25px;
    height: auto;
    min-height: 85px;
    list-style-type: none;
}

.lists-list > li:nth-child(odd) {
    background: rgba(255,255,255,0.1);
}

.lists-list > li:nth-child(even) {
    background: rgba(255,255,255,0.2);
}

.todo-icon {
    padding: 7px 22px 0 0;
}

.todo-name {
    font-weight: 300;
    color: inherit;
}

.todo-right {
    vertical-align:middle;
    line-height: 55px
}

.todo-right > button {
    background: transparent;
    border: none;
    transition: 0.2s ease-in-out;
}

.todo-right > button:hover .fui-trash {
    color: #34495E;
    transition: 0.2s ease-in-out;
}

.lists-wrapper .todo-content {
    float: left;
    font-weight: 300;
    padding-top: 4px;
}

@media (max-width: 767px) {
    .todo-name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 200px;
    }
}

/*add list*/

.add-list-wrapper {
    display: block;
    height: 100%;
    background: #ECF0F1;
}

.add-list-form {
    margin-top: 75px
}

.add-list-form h6 {
    font-weight: 300;
    margin-bottom: 30px;
}

.add-items-list-wrapper {
    display: block;
    height: 100%;
    background: #2ECC71;
}

.add-items-list-wrapper h6 {
    font-weight: 300;
    margin-top: 75px;
    margin-bottom: 30px;
    color: #ECF0F1;
}


/*list detail*/

.detail-wrapper {
    color: #ECF0F1;
    display: block;
    height: 100%;
    background: #1ABC9C;
}

.detail-wrapper h5 {
    margin-top: 75px;
    font-size: 20px;
}

.list-desc {
    margin-top: -15px;
    font-weight: 300;
}

.todo ul {
    background-color: inherit;
}

.todo .list-item {
    color: #ECF0F1;
    padding: 10px 20px;
    height: 65px;
    border-top: 1px solid #ECF0F1;
}

.todo li {
    background-color: inherit;
    transition: 0.25s;
}

.todo li:last-child {
    border-radius: 0;
}

.todo li.todo-done, .todo li.todo-done .todo-name {
    color: #BDC3C7;
    transition: 0.25s;
    
}

.todo li.todo-done .todo-name {
    text-decoration: line-through
}

.todo li.todo-done:after {
    background: #BDC3C7;
}

/*login*/

.login-screen {
    display: block;
    height: 100%;
    padding: 0;
    min-height: 650px;
}

.login-icon {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    margin: 30px auto 50px auto;
    width: 250px;
    text-align: center;
}

.login-icon > img {
    display: inline-block;
    width: 100px;
    margin-right: 30px;
}

.login-icon > h4 {
    display: inline-block;
    width: 100px;
    text-align: left;
    position: relative;
    top: 15px;
    color: #ECF0F1;
}

.login-form {
    margin-bottom: 30px;
    height: 100%;
}

.logo {
    font-family: 'Molle', cursive;
    font-size: 30px;
}
