{% extends 'base.html' %} {% block head_title %}Charts{% endblock %} {% block content %} {% load staticfiles %}
<div class="charts-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h6>Charts</h6>
                <p class="list-desc"><small>Items you bought, all in one place.</small></p>
            </div>
            <div class="col-sm-12">
                <select id="time-select" class="form-control select select-primary select-block mbl">
                    <option value="">All Bought Items</option>
                    <option value="last-month">Bought Last Month</option>
                    <option value="last-year">Bought Last Year</option>
                </select>
            </div>
            <div class="col-sm-12">
                <canvas id="category-chart"></canvas>
            </div>
        </div>
    </div>
</div>
{% include 'charts/category_chart_js.html' %} {% endblock %}
